name: "Build dev-container"

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build dev-container
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

